body{
    background: url("../img/bg.jpg")lightblue repeat-y;
}

.connexion{
    font-weight: bold;
    font-style: italic;
    list-style: none;
}

.connexion li{
    display: inline;
}

.box-connection {
    position: absolute;
    margin-left: 43%;
}

#bonjour {
    text-align: center;
}

#auth {
    font-weight: bold;
    font-style: italic;
    list-style: none;   
}
#auth li{
    display: inline;
}
#auth li.Profil{
    background-color: black;
}

#listeSeries li{
    display: inline-block;
    width: 13%;
    transition: all .2s ease-in-out;
}
#listeSeries li:hover{
    transform: scale(1.2) ;
}


#logo {
    text-align: center;
}


.Profil {
    color: aliceblue;
    margin-left: 43%;
    margin-right: 35%;
    margin-top:12% ;
    position: absolute;
    
}
#main-user{
    position: absolute;
    margin-left: 40%;
    list-style: none;
    margin-top: -5%;
}   
#main-user li#profil-picture img{
    width: 260px;
    height: 280px;
    border-radius: 155px;;
}

#best {
    font-weight: bold;
    font-style: italic;
    list-style: none;
    margin:0 auto;
    margin-left: 15%;
    margin-right: -15%;
}
#best li{
    display: inline-block;
    width: 13%;
    transition: all .2s ease-in-out;
}
#best li:hover{
    transform: scale(1.2) ;

}
