body{
    background: url("../img/bg.jpg")lightblue repeat-y;
}

.connexion{
    font-weight: bold;
    font-style: italic;
    list-style: none;
}

.connexion li{
    display: inline;
}

.box-connection {
    position: absolute;
    margin-left: 43%;
}

#bonjour {
    text-align: center;
}

#auth {
    font-weight: bold;
    font-style: italic;
    list-style: none;   
}
#auth li{
    display: inline;
}
#auth li.Profil{
    background-color: black;
}

#listeSeries li{
    display: inline-block;
    width: 13%;
}

#logo {
    text-align: center;
}


.Profil {
    color: aliceblue;
    margin-left: 43%;
    margin-right: 35%;
    margin-top:15% ;
    position: absolute;
    z-index: 999;
    
}
#main-user{
    position: absolute;
    z-index: 999;
    margin-left: 40%;
    list-style: none;
    margin-top: 0;
}   
#main-user li#profil-picture img{
    width: 290px;
    height: 280px;
    border-radius: 155px;;
}