html{
    font-size: 1.5rem;
}
body{
    width: 80%;
    margin: 0 auto;
}
a{
    color: black;
}
a:hover{
    font-size: 1.52rem;
}
body{
    background: url("../img/bg.jpg")lightblue fixed;
}
label{
    font-size: 1.5rem;
    font-family: Arial;
}
.connexion{
    font-weight: bold;
    font-style: italic;
    list-style: none;
}

.connexion li{
    display: inline;
}

.box-connection {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#bonjour {
    text-align: center;
}

#auth {
    background-color: blue;
    font-weight: bold;
    font-style: italic;
    list-style: none;
    margin-left: 65%;
    margin-top : 0%;
    position: absolute;
}
#auth li{
    display: inline;
}
#nom_serie{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: 250px;
}
#listeSeries{
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
#une_serie{
    text-align: center;
    max-width: 100%;

}
#listeSeries li{
    display: inline-block;
    margin:60px;
}

nav ul{
    list-style-type: none;
    align-items: center;
}

nav li{
    float: left;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav li{
    float: left;
    width: 10%;
    text-align: center;
}

nav{
    display: flex;
}

nav a:hover{
    border-bottom: 2px solid black;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.authSize{
    height: 2em;
    color:white;
}

#liCat li{
    display: inline
}

.button {
    background-color: transparent;
    margin: 1%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#profil {
    color: aliceblue;
    margin-left: 43%;
    margin-right: 35%;
    margin-top:15% ;
    position: absolute;
    z-index: 999;
}
#main-user{
    position: absolute;
    /*z-index: 999;*/
    margin-left: 40%;
    list-style: none;
    margin-top: 0;
}

#main-user li#profil-picture img{
    width: 290px;
    height: 280px;
    border-radius: 155px;
}

.form-control{
    border-radius: 30px;
    border-style: none;
    align-items: center;
    width: 30%;
    height: 40px;
    text-align: center;
}
.row-mb-3{
    padding: 2%;
}

input{
    font-size: 1rem;
}

.imageaffiche{

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#nom_serie{
    text-align: center;
}
